@model FakturiSecond.Models.FakturaView

@{
    /**/
    ViewBag.Title = "Нова фактура";
    Layout = "~/Views/Dashboard/Layout.cshtml";
}


<div class="form-style-10">
    <h1>НОВА ФАКТУРА<span>Внеси ги следните информации!</span></h1>
    <form action="AddProduct" method="post">
        @Html.AntiForgeryToken()
        <div class="section"><span>1</span>Додади нов артикл</div>
        <div class="inner-wrap">

            @Html.DropDownList("ddlProduct", Model.Products, "-Избери производ-")
            <input type="text" Name="quantity" placeholder="Количина" required="">
            <input type="submit" value="Додади производ" name="AddProduct" class="btn btn-outline-success btn-md">

        </div>

        <div class="section"><span>2</span>Артикли</div>
        <div class="inner-wrap">
            <table class="table">
                <tr class="col-md-10">
                    <td colspan="4" align="center"><b>Производ</b></td>
                    <td colspan="2" align="center"><b>Количина</b></td>
                    <td colspan="3" align="center"><b>Основна цена</b></td>
                    <td colspan="3" align="center"><b>Цена со ДДВ</b></td>
                </tr>
                <tbody>
                    @if (Model.Articles != null)
                    {
                        foreach (var item in Model.Articles)
                        {
                            <tr class="col-md-10">
                                <td colspan="4" align="center">@item.Product_Name</td>
                                <td colspan="2" align="center">@item.Quantity</td>
                                <td colspan="3" align="center">@item.Article_Price МКД</td>
                                <td colspan="3" align="center">@item.Article_Price_DDV МКД</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>


    </form>
    <form action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="section"><span>3</span>Дополнителни информации</div>
        <div class="inner-wrap">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label>Назив на клиент</label>
            @Html.DropDownList("Client_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Client_ID, "", new { @class = "text-danger" })
            
            <label>Датум на доспевање</label>
            @Html.EditorFor(model => model.Faktura_DatumDospevanje, new { htmlAttributes = new { @class = "date-picker" } })
            @Html.ValidationMessageFor(model => model.Faktura_DatumDospevanje, "", new { @class = "text-danger" })
            
            <label>Забелешка</label>
            @Html.TextAreaFor(model => model.Faktura_Zabeleska, new { htmlAttributes = new { @class = "form-control form-control-full" } })
            @Html.ValidationMessageFor(model => model.Faktura_Zabeleska, "", new { @class = "text-danger" })
        </div>
        <div class="button-section">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зачувај" class="btn btn-outline-success btn-lg" />
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("<- Мои фактури", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });
    })
</script>

<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<style type="text/css">
    .form-style-10 {
        width: 600px;
        padding: 30px;
        margin: 40px auto;
        background: #FFF;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    }

        .form-style-10 .inner-wrap {
            padding: 30px;
            background: #F8F8F8;
            border-radius: 6px;
            margin-bottom: 15px;
        }

        .form-style-10 h1 {
            background: #115dd8;
            padding: 20px 30px 15px 30px;
            margin: -30px -30px 30px -30px;
            border-radius: 10px 10px 0 0;
            -webkit-border-radius: 10px 10px 0 0;
            -moz-border-radius: 10px 10px 0 0;
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
            font: normal 30px 'Bitter', serif;
            -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            border: 1px solid #257C9E;
        }

            .form-style-10 h1 > span {
                display: block;
                margin-top: 2px;
                font: 13px Arial, Helvetica, sans-serif;
            }

        .form-style-10 label {
            display: block;
            font: 13px Arial, Helvetica, sans-serif;
            color: #888;
            margin-bottom: 15px;
        }

        .form-style-10 input[type="text"],
        .form-style-10 input[type="date"],
        .form-style-10 input[type="datetime"],
        .form-style-10 input[type="email"],
        .form-style-10 input[type="number"],
        .form-style-10 input[type="search"],
        .form-style-10 input[type="time"],
        .form-style-10 input[type="url"],
        .form-style-10 input[type="password"],
        .form-style-10 textarea,
        .form-style-10 select {
            display: block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            padding: 8px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border: 2px solid #fff;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
            -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
        }

        .form-style-10 .section {
            font: normal 20px 'Bitter', serif;
            color: #115dd8;
            margin-bottom: 5px;
        }

            .form-style-10 .section span {
                background: #115dd8;
                padding: 5px 10px 5px 10px;
                position: absolute;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border: 4px solid #fff;
                font-size: 14px;
                margin-left: -45px;
                color: #fff;
                margin-top: -3px;
            }

        .form-style-10 input[type="button"],
        .form-style-10 input[type="submit"] {
            background: #115dd8;
            padding: 8px 20px 8px 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
            font: normal 30px 'Bitter', serif;
            -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            border: 1px solid #257C9E;
            font-size: 15px;
        }

            .form-style-10 input[type="button"]:hover,
            .form-style-10 input[type="submit"]:hover {
                background: #2A6881;
                -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
                -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
                box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
            }

        .form-style-10 .privacy-policy {
            float: right;
            width: 250px;
            font: 12px Arial, Helvetica, sans-serif;
            color: #4D4D4D;
            margin-top: 10px;
            text-align: right;
        }
</style>